@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

@import url('https://fonts.googleapis.com/css2? family = Inter: wght @ 200; 300; 400; 500; 600 & family = Poppins: wght @ 100; 200; 300; 400; 500; 600 & family = Roboto + Slab: wght @ 100; 200; 300; 400; 500; 600 & display = swap ');

*{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container{
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
  background: #693ACC;
}

.img-wrapped img{
  position: absolute;
  width: 154px;
  height: 88px;
  left: 47%;
  top: 5px;
  object-fit: cover;

}

body{
  font-family: "Poppins", "sans-serif", "Arial", "Helvetica";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}

.ticket{
  position: absolute;
  font-family: "Poppins", "sans-serif", "Arial", "Helvetica";
  left: 50%;
  top: 35%;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.ticket button{
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 45px;
}